<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/util   http://www.springframework.org/schema/beans/spring-util.xsd">

    <util:map id="bucketHdfsMapping">
        <entry key="master" value="${app.s3.namenode}/DataLake/master"/>
    </util:map>

    <bean id="requestDispatcher" class="com.datadynamics.bigdata.api.service.s3.S3RequestDispatcher">
        <property name="commands">
            <list>
                <bean class="com.datadynamics.bigdata.api.service.dynamo.commands.CreateBucketRequestCommand"/>
            </list>
        </property>
    </bean>

</beans>