<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="iamRequestDispatcher" class="com.datadynamics.bigdata.api.service.iam.IamRequestDispatcher">
        <property name="commands">
            <list>
                <!-- User -->
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.CreateUserIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.ListUsersIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.GetUserIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.CreateGroupIamRequestCommand"/>

                <!-- Group -->
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.ListGroupsIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.AddUserToGroupIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.DeleteGroupIamRequestCommand"/>

                <!-- Access Key -->
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.CreateAccessKeyIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.ListAccessKeysIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.DeleteAccessKeyIamRequestCommand"/>
            </list>
        </property>
    </bean>

</beans>