<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dynamoRequestDispatcher" class="com.datadynamics.bigdata.api.service.dynamo.DynamoRequestDispatcher">
        <property name="commands">
            <list>
                <bean class="com.datadynamics.bigdata.api.service.dynamo.commands.DescribeTableRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.dynamo.commands.ListTablesRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.dynamo.commands.QueryRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.dynamo.commands.ScanRequestCommand"/>
            </list>
        </property>
    </bean>

</beans>