<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="iamRequestDispatcher" class="com.datadynamics.bigdata.api.service.iam.IamRequestDispatcher">
        <property name="commands">
            <list>
                <!-- User -->
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.user.CreateUserIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.user.ListUsersIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.user.GetUserIamRequestCommand"/>

                <!-- Group -->
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.group.CreateGroupIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.group.ListGroupsIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.group.AddUserToGroupIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.group.DeleteGroupIamRequestCommand"/>

                <!-- Access Key -->
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.key.CreateAccessKeyIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.key.ListAccessKeysIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.key.DeleteAccessKeyIamRequestCommand"/>
            </list>
        </property>
    </bean>

</beans>