<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="iamRequestDispatcher" class="com.datadynamics.bigdata.api.service.iam.IamRequestDispatcher">
        <property name="commands">
            <list>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.CreateUserIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.CreateGroupIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.ListAccessKeysIamRequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.iam.commands.CreateUserIamRequestCommand"/>
            </list>
        </property>
    </bean>

</beans>