<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="s3RequestDispatcher" class="com.datadynamics.bigdata.api.service.s3.S3RequestDispatcher">
        <property name="commands">
            <list>
                <bean class="com.datadynamics.bigdata.api.service.s3.commands.ListBucketsS3RequestCommand"/>
                <bean class="com.datadynamics.bigdata.api.service.s3.commands.CreateBucketS3RequestCommand"/>
            </list>
        </property>
    </bean>

</beans>